.MainCardsGreen {
  width: 535px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  margin: 3rem 0;
  padding: 2.75rem 3rem;

  h3 {
    color: white;
    font-size: 1.875rem;
    margin: 1.8rem 0;
  }

  p {
    padding: 0 45px;
    color: white;
    font-size: 1.25rem;
  }
}