/* PADRÕES DE ESTILOS */

@mixin btnVerde {
  background-color: #00745A;
  color: white;
  padding: 16px 22px;
  border-radius: 12px;
  font-size: 1.375rem;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: darken($color: #00745A, $amount: 10);
  }
}
@mixin btnComoAjudar {
  background-color: transparent;
  color: #00745A;
  padding: 16px 32px;
  border: 1px solid #00745A;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.375rem;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #00745A;
    color: white;
  }
}

// * {
//   outline: 1px solid red;
// }

/* ===== SEÇÃO BANNER INICIAL ===== */

.mainBannerContainer {
  display: flex;
  padding: 1rem 6rem 6.25rem 6rem;
  
  .mainSection {
    display: flex;
    flex-direction: row;
  }
  
  article {
      img {
        max-width: 600px;
    }
  }
}

.mainDiv {
  width: 50%;
}

.texts {
    h1 {
      font-size: 4rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    p {
      margin-top: 30px;
      font-size: 1.563rem;
      line-height: 40px;
    }
  }

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
  padding: 40px 0;
  .btnVerde {
    @include btnVerde();
    margin-right: 40px;
  }
  
  .btnComoAjudar {
    @include btnComoAjudar();
  }
}

.SaudeTodosContainer {
  display: flex;
  margin: 6rem 0 2.5rem 0;
  .btnSaudeTodos {
    display: flex;
    background-color: #E5E5E5;
    border: none;
    border-radius: 32px;
    padding: 12px 20px;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 12px;
    cursor: pointer;
    img {
      width: 32px;
    }
  }
}

/* ===== SEÇÃO CARDS VERDE ===== */

.cardsSection {
  background-color: #00745A;


  .cardsDiv{
    padding: 5rem 6rem 5rem 6rem;

    .cardsTituloSection {
      color: white;
      font-size: 3.75rem;
      margin-bottom: 1.875rem;
    }
    .cardsDescricaoSection {
      color: white;
      font-size: 1.4rem;
    }

    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

/* ===== SEÇÃO CARDS BRANCA ===== */

.cardsSection2 {
  background-color: #ffffff;


  .cardsDiv2{
    padding: 5rem 6rem 5rem 6rem;

    .cardsTituloSection2 {
      color: black;
      font-size: 3.75rem;
      margin-bottom: 1.875rem;
    }
    .cardsDescricaoSection2 {
      color: black;
      font-size: 1.4rem;
    }

    .cards2 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}