/* PADRÕES DE ESTILOS */

@mixin btnVerde {
  background-color: #00745A;
  color: white;
  padding: 16px 22px;
  border-radius: 12px;
  font-size: 1.375rem;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: darken($color: #00745A, $amount: 10);
  }
}
@mixin btnComoAjudar {
  background-color: transparent;
  color: #00745A;
  padding: 16px 32px;
  border: 1px solid #00745A;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.375rem;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #00745A;
    color: white;
  }
}

// * {
//   outline: 1px solid red;
// }

/* ===== SEÇÃO BANNER INICIAL ===== */

.mainBannerContainer {
  
  .mainSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  article {
    width: 50%;
    padding: 0 8rem 2rem 2rem;
      img {
        width: 700px;
    }
  }
}

.mainDiv {
  width: 50%;
  padding: 2rem 0 2rem 8rem;
}

.texts {
  width: 70%;
    h1 {
      font-size: 4rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    p {
      margin-top: 30px;
      font-size: 1.563rem;
      line-height: 40px;
    }
  }

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 60px 0;
  padding: 40px 0;
  .btnVerde {
    @include btnVerde();
    margin-right: 40px;
  }
  
  .btnComoAjudar {
    @include btnComoAjudar();
  }
}

.SaudeTodosContainer {
  display: flex;
  margin: 6rem 0 2.5rem 0;
  .btnSaudeTodos {
    display: flex;
    background-color: #E5E5E5;
    border: none;
    border-radius: 32px;
    padding: 12px 20px;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 12px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    img {
      width: 32px;
    }

    &:hover {
      background-color: rgb(172, 172, 172);
    }
  }
}

/* ===== SEÇÃO CARDS VERDE ===== */

.cardsSection {
  background-color: #00745A;


  .cardsDiv{
    padding: 5rem 8rem 5rem 8rem;

    .cardsTituloSection {
      color: white;
      font-size: 3.75rem;
      margin-bottom: 1.875rem;
    }
    .cardsDescricaoSection {
      color: white;
      font-size: 1.4rem;
    }

    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

/* ===== SEÇÃO CARDS BRANCA ===== */

.cardsSection2 {
  background-color: #ffffff;


  .cardsDiv2{
    padding: 5rem 8rem 5rem 8rem;

    .cardsTituloSection2 {
      color: black;
      font-size: 3.75rem;
      margin-bottom: 1.875rem;
    }
    .cardsDescricaoSection2 {
      color: black;
      font-size: 1.4rem;
    }

    .cards2 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

/* ==== DESKTOP TELAS GRANDES ==== */
/* ==== DESKTOP TELAS GRANDES ==== */
/* ==== DESKTOP TELAS GRANDES ==== */

@media (min-width: 1025px) and (max-width: 1600px) {

  /* ===== SEÇÃO BANNER ===== */

  .mainBannerContainer {
    .mainSection {
      padding: 3rem 4rem;
      gap: 2rem;
    }

    article {
      width: 50%;
      padding: 0 4rem 2rem 2rem;

      img {
        width: 600px;
        max-width: 100%;
      }
    }
  }

  .mainDiv {
    width: 50%;
    padding: 2rem 4rem;
  }

  .texts {
    width: 90%;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 34px;
    }
  }

  .btnContainer {
    padding: 30px 0;
    gap: 20px;

    .btnVerde,
    .btnComoAjudar {
      margin: 0;
      width: 100%;
      text-align: center;
      padding: 18px 32px;
      font-size: 1.3rem;
    }
  }

  .SaudeTodosContainer .btnSaudeTodos {
    font-size: 1.2rem;
    padding: 14px 25px;
  }


  /* ===== CARDS VERDE ===== */

  .cardsSection .cardsDiv {
    padding: 4rem 6rem;

    .cardsTituloSection {
      font-size: 3.2rem;
    }

    .cardsDescricaoSection {
      font-size: 1.3rem;
    }

    .cards {
      gap: 2.5rem;
    }
  }


  /* ===== CARDS BRANCOS ===== */

  .cardsSection2 .cardsDiv2 {
    padding: 4rem 6rem;

    .cardsTituloSection2 {
      font-size: 3.2rem;
    }

    .cardsDescricaoSection2 {
      font-size: 1.3rem;
    }

    .cards2 {
      gap: 2.5rem;
    }
  }
}

/* ==== TABLET & NOTEBOOKS ==== */
/* ==== TABLET & NOTEBOOKS ==== */
/* ==== TABLET & NOTEBOOKS ==== */

@media (min-width: 501px) and (max-width: 1024px) {

  /* ===== SEÇÃO BANNER ===== */

  .mainBannerContainer {

    .mainSection {
      flex-direction: column;
      text-align: center;
      padding: 2rem 1.5rem;
    }

    article {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        max-width: 480px;
      }
    }
  }

  .mainDiv {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .texts {
    width: 100%;
    max-width: 700px;

    h1 {
      font-size: 3.2rem;
      line-height: 1.25;
    }

    p {
      font-size: 1.3rem;
      line-height: 30px;
      margin-top: 25px;
    }
  }

  .btnContainer {
    width: 100%;
    margin: 20px 0 40px 0;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .btnVerde,
    .btnComoAjudar {
      margin: 0;
      width: 70%;        
      max-width: 380px;
      justify-content: center;
    }
  }

  .SaudeTodosContainer {
    justify-content: center;
    
    .btnSaudeTodos {
      font-size: 1.1rem;
      padding: 14px 22px;

      img {
        width: 30px;
      }
    }
  }


  /* ===== SEÇÃO CARDS VERDE ===== */

  .cardsSection {

    .cardsDiv {
      padding: 4rem 3rem;

      .cardsTituloSection {
        font-size: 2.8rem;
        text-align: center;
      }

      .cardsDescricaoSection {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 3rem;
      }

      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;
      }
    }
  }


  /* ===== SEÇÃO CARDS BRANCA ===== */

  .cardsSection2 {

    .cardsDiv2 {
      padding: 4rem 3rem;

      .cardsTituloSection2 {
        font-size: 2.8rem;
        text-align: center;
      }

      .cardsDescricaoSection2 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 3rem;
      }

      .cards2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;
      }
    }
  }
}


/* ==== MOBILE ==== */
/* ==== MOBILE ==== */
/* ==== MOBILE ==== */

@media (max-width: 500px) {

.mainBannerContainer {
  
  .mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  article {
    padding: 0;
    margin: 0;
    img {
      display: none;
    }
  }
}

.mainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}

.texts {
  width: 100%;
  max-width: 600px; 
  text-align: center;

  h1 {
    font-size: 3rem;
    line-height: 1.2;
  }

  p {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 28px;
  }
}

.btnContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .btnVerde,
  .btnComoAjudar {
    margin: 0;
    width: 90%;       
    max-width: 420px; 
    justify-content: center;
  }
}

.SaudeTodosContainer {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0.5rem 0;

  .btnSaudeTodos {
    padding: 12px 20px;
    font-size: 1rem;

    img {
      width: 28px;
    }
  }
}


  /* ===== SEÇÃO CARDS VERDE ===== */

  .cardsSection {

    .cardsDiv {
      padding: 3rem 1.5rem;

      .cardsTituloSection {
        font-size: 2rem;
        text-align: center;
      }

      .cardsDescricaoSection {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }
  }


  /* ===== SEÇÃO CARDS BRANCA ===== */

  .cardsSection2 {
    
    .cardsDiv2 {
      padding: 3rem 1.5rem;
      
      .cardsTituloSection2 {
        font-size: 2.5rem;
        text-align: center;
      }
      
      .cardsDescricaoSection2 {
        padding: 0 2rem;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      .cards2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }
  }

}