@mixin btnVerde {
  background-color: #00745A;
  color: white;
  padding: 16px 22px;
  border-radius: 12px;
  font-size: 1.375rem;
  cursor: pointer;
}
@mixin btnComoAjudar {
  background-color: transparent;
  color: #00745A;
  padding: 16px 32px;
  border: 1px solid #00745A;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.375rem;
  cursor: pointer;
}

main {
  display: flex;
  padding: 1rem 0 6.25rem 0;
  
  section {
    margin-left: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  article {
    margin-right: 6rem;
    img {
      width: 600px;
    }
  }
}

.mainContainer {
  width: 50%;
}

.texts {
    h1 {
      font-size: 4rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    p {
      margin-top: 30px;
      font-size: 1.563rem;
      line-height: 40px;
    }
  }

.btnContainer {
  margin: 15px 0;
  padding: 40px 0;
  .btnVerde {
    @include btnVerde();
    margin-right: 40px;
  }
  
  .btnComoAjudar {
    @include btnComoAjudar();
  }
}

.SaudeTodosContainer {
  display: flex;
  margin: 6rem 0 2.5rem 0;
  .btnSaudeTodos {
    display: flex;
    background-color: #E5E5E5;
    border: none;
    border-radius: 32px;
    padding: 12px 20px;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 12px;
    cursor: pointer;
    img {
      width: 32px;
    }
  }
}