.MainCardsWhite {
  width: 365px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 3rem 0;
  padding: 2.75rem 3rem;

  h3 {
    color: #00745A;
    font-size: 3.125rem;
    margin: 1.8rem 0;
  }

  p {
    color: black;
    font-size: 1.25rem;
  }
}

/* ==== TABLET & NOTEBOOK ==== */
/* ==== TABLET & NOTEBOOK ==== */
/* ==== TABLET & NOTEBOOK ==== */

@media (min-width: 501px) and (max-width: 1024px) {

  .MainCardsWhite {
    width: 100%;
    max-width: 300px;
    padding: 2.2rem 2rem;
    margin: 2rem auto;
    text-align: center;

    h3 {
      font-size: 2.5rem;
      margin: 1.5rem 0;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.45;
    }
  }

}

/* ==== MOBILE ==== */
/* ==== MOBILE ==== */
/* ==== MOBILE ==== */

@media (max-width: 500px) {

  .MainCardsWhite {
    width: 100%;
    max-width: 250px;
    padding: 1.8rem 1.2rem;
    margin: 0.5rem auto;
    text-align: center;

    h3 {
      font-size: 2rem;
      margin: 1.2rem 0;
    }

    p {
      font-size: 1rem;
      line-height: 1.4;
    }
  }

}
