.MainCardsWhite {
  width: 350px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 3rem 0;
  padding: 2.75rem 3rem;

  h3 {
    color: #00745A;
    font-size: 3.125rem;
    margin: 1.8rem 0;
  }

  p {
    color: black;
    font-size: 1.25rem;
  }
}