@mixin btnVerde {
  background-color: #00745A;
  color: white;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.header {
  width: 100vw;
  height: 100px;
  color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
  div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 40px 10px 6rem;
    font-family: bold;
    font-size: 1.125rem;
  }

  nav {
    display: flex;
    margin: 10px 40px;
    gap: 10px;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.btnVerde {
  @include btnVerde();
}