@mixin btnVerde {
  background-color: #00745A;
  color: white;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: darken($color: #00745A, $amount: 10);
  }
}

@mixin btnDefault {
  padding: 12px 16px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  height: 100px;
  color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
  div {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 40px 10px 6rem;
    font-family: bold;
    font-size: 1.125rem;
  }

  nav {
    display: flex;
    padding: 10px 40px;
    gap: 10px;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.btnVerde {
  @include btnVerde();
}

.btnDefault {
  @include btnDefault()
}

@media (max-width: 500px) {
  .header {
    height: 70px;
    padding: 0 16px;
    justify-content: space-between;

    div {
      padding: 0;
      gap: 6px;

      img {
        width: 28px;
      }

      h2 {
        font-size: 0.9rem;
      }
    }

    nav {
      padding: 0;
      gap: 8px;
      font-size: 0.9rem;
    }
  }
}